h1{
	font-size: 40px;
	background: rgb(255,61,127);
	font-family: comic;
	text-align: center;
    
}
h2{
	text-align:center;
}
div{
	text-align:center;
}

.ifyouarereadingthisyouaregay{
	font-size: 10px;
	font-family: Arial;

}
body{
	background: rgb(255,132,124);
}
.hyperlink{
	text-align: center;
}
